.bg-white {
  background-color: white;
}
.white {
  color: white;
}

.black {
  color: black;
}

.has-no-bg {
  background-color: transparent;
}

.hidden {
  position: absolute;
  left: -9999px;
}

.underlined {
  text-decoration: underline;
}


