.button-container {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
  
  .buy.active {
    background-color: var(--green);
    color: white;
  }
  
  .sell.active {
    background-color: var(--red);
    color: white;
  }

  .buy, .sell {
    width: 45%;
    font-size: 16px;
    background-color: var(--disabled-button-color);
    color: var(--secondary-text-color);
  }

}



  