.orderbook-trade{
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    .symbol {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        width: 1200px;
        margin: 2.7rem auto;
        align-items: center;
        h1 {
            font-size: 42px;
            font-weight: 700;
            color: var(--primary-text-color);
        }
    }
    .main-section{
        max-width: 1200px;
        width: 1200px;
        display: flex;
        justify-content: space-between;
        gap: 0.5rem;
        margin: 0 auto;
        height: fit-content;
    }
}

.book-trade-container {
    max-width: 588px;
    width: 588px;
    height: 800px;  
    display: flex; 
    flex-direction: column;
}

/* .orderbook-trade * {
    transition: background-color 0.1s ease-in-out;
} */