.orderbook-trade {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);

    .symbol {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        width: 100%;
        margin: 1.5rem auto 1rem auto;
        align-items: center;

        h1 {
            font-size: 42px;
            font-weight: 700;
            color: var(--primary-text-color);
        }
    }

    .main-section {
        max-width: 1200px;
        width: 100%; 
        display: flex;
        justify-content: space-between;
        gap: 0.5rem;
        margin: 0 auto;
        height: fit-content;
    }
}

.book-trade-container {
    max-width: 588px;  
    width: 100%;       
    height: auto;      
    display: flex; 
    flex-direction: column;
    margin-bottom: 1rem;
    padding-bottom: 4px;
    border-radius: 17px;
    flex-grow: 1;     
    min-height: 0;    
}

