.trade {    
    background-color: var(--secondary-background-color);

    .namings{
        display: flex;
        background-color: inherit;
        padding: 9px 0px;
        font-size: small;
        
        .time-column{
            flex: 1;
            background-color: inherit;
        }

        .fill-price-column{
            flex: 1;  
            background-color: inherit;
            text-align: right;
        }

        .total-column{
            flex: 1;
            background-color: inherit;
            text-align: right;
        }
    }
    .list{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}   