.trendbar {
    display:flex;
    position: relative;
    width: 100%;
    background-color: inherit;
    .redbar {
        position: absolute;
        display: flex;
        top: 0;
        right: 0;
        justify-content: center;
        background-color: var(--ask-volume-color);
        height: 9px;
        width: 30%;
        z-index: 1;

    }
    .greenbar {
        position: absolute;
        display: flex;
        top: 0;
        left: 0;
        background-color: var(--bid-volume-color);
        height: 9px;
        width: 70%;
        z-index: 2;
    }

    .percentage {
        position: absolute;
        display: flex;
        justify-content: space-between; 
        width: 100%; 
        top: 7px;
        left: 0;
        background-color: inherit;
        font-size: small;   
        .buy {
            display: flex;
            align-items: center; 
            justify-content: center; 
            color: var(--green);
        }
        
        .sell {
            display: flex;
            align-items: center; 
            justify-content: center; 
            color: var(--red);
        }
    }
}