.dropdown {
    display: flex;
    user-select: none;
    position: relative;
    border: solid 1px gray;
    border-radius: 5px;
    padding: 0px 5px;
    height: 20px;
    
    .dropdown-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: small;
        background-color: inherit;
        padding: 0px 5px;
        border-radius: 5px;
        color: var(--secondary-text-color)
        
    }
    .dropdown-btn::after {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 8px; 
        vertical-align: middle;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid var(--secondary-text-color); }
    
    .dropdown-content{
        display: flex;
        flex-direction: column;
        gap: 10px;
        position:absolute;
        top: 110%;
        right: 1%;
        background-color: rgb(28, 28, 28);
        padding: 5px;
        border-radius: 5px;
        z-index: 3;
    }
}

.dropdown-item {
    padding: 5px;
    text-align: left;
    background-color: rgb(28, 28, 28);
}

.dropdown-item:hover {
    background-color: #696969;
    border-radius: 5px;
}