
table {
    border-collapse: collapse; 
    border: none; 
    width: 100%; 
}
th.first-column, th.second-column, th.third-column {
    padding: 8px 0px;
    font-size: small;
    position: relative;
    z-index: 2;
}

.table-headings > th {
    color: var(--secondary-text-color);
}

.has-no-thead thead {
    display: none;
}

tr{
    background-color: var(--secondary-background-color);
}

td {
    position: relative;
    z-index: 2; 
}

tr::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: var(--volume-bar-color);
    width: var(--volume-bar-width, 0%);
    z-index: 1;
    transition: width 0.3s ease-out, background-color 0.2s ease-in-out;
}

tr.traderow {
    background-color: var(--secondary-background-color);
    font-size: 12px;
}
tr.orderrow {
    font-size: 12px;
    position: relative;
}
.first-column {
    text-align: left;
}
.second-column, .third-column {
    text-align: right;
}
.first-column, .second-column, .third-column {
    width: 33.33%; 
    background-color: transparent;
    height: 20px;
    position: relative;
    z-index: 2;
    color: var(--third-text-color);
    font-weight: 500;
}

td.red {
    color: #f2495e;
}
td.green {
    color: #30BF87;
}

.volume-bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 1;
}
