.order-panel {
    width:100%;
    height: 100%;
}

.order-panel-layout {
    display: grid;
    grid-template-rows: 34px 50px 30px 50px 280px;
    padding: 0px 12px;
}

.panel-menu-bar {
    width: 100%;
    padding: 0;
    h2 {
        padding: 10px 4px;       
        font-size: 16px;
        color: var(--primary-text-color);
    }
}

.buy-sell-bar {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}


.value-space-between {
    display: flex;
    justify-content: space-between;

    .label, .amount {
        display: flex;
        font-size: 12px;
    }

    .label {
        color: var(--secondary-text-color);
    }

    .amount {
        color: var(--primary-text-color);
    }
}

.availiable-amount {
    align-items: end;

    margin-top: 10px;
}

.est-fee {
    padding: 5px 0px 20px;
}

.buysell-spot-button {
    display: flex;
    justify-content: center;
    padding: 12px 0px;
    width: 100%;
    margin: 30px 0px;
    background-color: var(--primary-text-color);
    color: var(--secondary-background-color)
  }

.amount-input-wrapper {

}

