.header {
    max-height: 64;
    height: 64;
    width: 100%;
    padding:10px 24px;
    background-color: #0F0F0F;
    display: flex;
    justify-content: space-between;
    h1 {
        background-color: inherit;
    }

    .logo-tabs {
        display: flex;
        gap: 40px;
        background-color: transparent;
    }
}

.tabs {
    display: flex;
    align-items: center;
    gap: 40px;
    background-color: transparent;
}

.tab {
    background-color: inherit;
    font-weight: bold;
}

.button-box {
    display: flex;
    background-color: transparent;
    gap: 16px;
}

.btn {
    border: none;
    outline: none;
    background-color: transparent;
}

.primary-btn {
    border: none;
    outline: none;
    padding: 6px 20px;
    border-radius: 20px;
    font-weight: bold;
}

