.orderbook {
    background-color: var(--secondary-background-color);
    display: flex;
    height: 100%;
    h2 {
        padding: 10px 16px; 
        padding-bottom: 3px;      
        font-size: 16px;
        color: var(--primary-text-color);
    }

    .button-dropdown-box {
        display: flex;
        background-color: transparent;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0px;

        .button-box {
            display: flex;
            gap: 23px;
            background-color: transparent;
            align-items: center;
            height: 20px;
            position: relative;

            .btn:hover {
                opacity: 1;
            }

            .btn {
                opacity: 0.4;
            }

            .order-buy-btn, .order-sell-btn, .order-all-btn {
                position: relative;
                width: 20px;
                height: 20px;
                align-items: center;
                display: flex;

                .right-icon::before, .right-icon::after {
                    content: '';
                    width: 7px;
                    position: absolute;
                    left: -10px;
                    border-radius: 1px;
                }
            }

            .order-buy-btn, .order-sell-btn {
                .right-icon::before {
                    height: 16px;
                }
            }
            
            .order-all-btn {
                .right-icon::before, .right-icon::after {
                    height: 7px;
                }

                .right-icon::after {
                    background-color: var(--red);
                    top: 0; 
                }

                .right-icon::before {
                    background-color: var(--green);
                    bottom: 0;
                }
            }

            .order-buy-btn {
                .right-icon::before {
                    background-color: var(--green);
                }
            }

            .order-sell-btn {
                .right-icon::before {
                    background-color: var(--red);
                }
            }
            
            .right-icon {
                display: block;
                width: 7px;
                height: 16px;
                background-color: #6d6d6d;
                position: absolute;
                right: 0;
                border-radius: 1px;
            }

            .active {
                opacity: 1;
            }
        }
    }
    .order-list {
        padding-top: 1.5rem; 
        width: 100%; 
        height: 100%;

        /* .orderbook-wrapper {
            display: flex;
            flex-direction: column;
            height: 100%;
            margin-top: auto;
            justify-content: center;
        } */
    }
    
    
    
}  

